In [1]:
import pandas as pd

In [14]:
pd.read_csv('ligand_A_AllIntoOne/Vina58.csv').T.head()

                              0
pdb    crystal_redock_e32_er3_1
vina                   -7.45693
vina1                   27.7272
vina2                  -104.975
vina3                   0.05232

In [3]:
pd.read_csv('ligand_B_AllIntoOne/Vina58.csv').T.head()

                              0
pdb    crystal_redock_e32_er3_1
vina                   -7.71429
vina1                   28.1981
vina2                  -110.127
vina3                   0.22085

In [4]:
pd.read_csv('ligand_A_AllIntoOne/SASA.csv').T.head()

                              0
pdb    crystal_redock_e32_er3_1
P2.P                      32.35
P2.N                      27.75
P2.DA                     28.38
P2.D                      76.26

In [5]:
pd.read_csv('ligand_B_AllIntoOne/SASA.csv').T.head()

                              0
pdb    crystal_redock_e32_er3_1
P2.P                      13.37
P2.N                       27.9
P2.DA                     22.43
P2.D                      68.21

In [6]:
pd.read_csv('ligand_A_AllIntoOne/Num_Ions.csv')

                        pdb  Ni
0  crystal_redock_e32_er3_1   0

In [7]:
pd.read_csv('ligand_B_AllIntoOne/Num_Ions.csv')

                        pdb  Ni
0  crystal_redock_e32_er3_1   0

In [8]:
pd.read_csv('ligand_A_AllIntoOne/dE_RMSD.csv')

                        pdb  dE_global  RMSD_global
0  crystal_redock_e32_er3_1 -15.116223       5.0292

In [9]:
pd.read_csv('ligand_B_AllIntoOne/dE_RMSD.csv')

                        pdb  dE_global  RMSD_global
0  crystal_redock_e32_er3_1 -13.021231     4.741351

In [10]:
pd.read_csv('ligand_A_AllIntoOne/Input.csv')

,pdb,vina,vina1,vina2,vina3,vina4,vina5,vina6,vina7,vina8,...,P2dp.H,P2dp.PL,P2dp.HA,P2dp.SA,dE_global,RMSD_global,Nbw,Epw,Elw,Ni
0,crystal_redock_e32_er3_1,5.469584,27.72718,-104.97514,0.05232,0.02067,83.51045,120.92795,172.30549,246.43883,...,130.74,129.42,0,529.47,-15.116223,5.0292,0,0,0,0

In [11]:
pd.read_csv('ligand_B_AllIntoOne/Input.csv')

,pdb,vina,vina1,vina2,vina3,vina4,vina5,vina6,vina7,vina8,...,P2dp.H,P2dp.PL,P2dp.HA,P2dp.SA,dE_global,RMSD_global,Nbw,Epw,Elw,Ni
0,crystal_redock_e32_er3_1,5.658355,28.19808,-110.12728,0.22085,0.04722,94.23803,135.22337,186.46564,241.34423,...,117.22,125.93,0,517.15,-13.021231,4.741351,0,0,0,0